:root {
  /* fonts */
  --main-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  /* text colors */
  --primary-txt-cl: #212121;
  --secondary-txt-cl: #757575;
  --accent-cl: #2196F3;
  --white-cl: #ffffff;
  --darl-cl: #000000;
  /* bg colors */
  --white-bg-cl: #FFFFFF;
  --light-bg-cl: #F5F4FA;
  --dark-bg-cl: #2F303A;
  --accent-btn-cl: #188CE8;
  --cubic: cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  font-family: var(--main-font);
  color: var(--primary-txt-cl);
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.hero,
.footer {
  background-color: var(--dark-bg-cl);
}

.title {
  text-transform: uppercase;
}

.btn {
  font-family: inherit;
  font-size: 16px;
  cursor: pointer;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.link {
  text-decoration: none;
  color: currentColor;
}

img {
  display: block;
}

.header {
  border-bottom: 1px solid #ECECEC;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav,
.nav__list,
.header-contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__list,
.header-contacts {
  gap: 50px;
}

.nav__link,
.header-contacts {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.02em;
  color: var(--primary-txt-cl);
}

.nav__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--primary-txt-cl);
  -webkit-transition: color 250ms var(--cubic);
  transition: color 250ms var(--cubic);
}
.nav__link:hover, .nav__link:focus {
  color: var(--accent-cl);
}

.nav__link--bottom {
  position: relative;
}
.nav__link--bottom::after {
  position: absolute;
  content: "";
  bottom: -1px;
  display: block;
  background-color: #188ce8;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: -webkit-transform 250ms var(--cubic);
  transition: -webkit-transform 250ms var(--cubic);
  transition: transform 250ms var(--cubic);
  transition: transform 250ms var(--cubic), -webkit-transform 250ms var(--cubic);
}

.header-contacts {
  margin-left: auto;
  color: var(--secondary-txt-cl);
}

.header-contacts__email,
.header-contacts__phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
  color: #757575;
  -webkit-transition: color 250ms var(--cubic);
  transition: color 250ms var(--cubic);
}
.header-contacts__email:hover, .header-contacts__email:focus,
.header-contacts__phone:hover,
.header-contacts__phone:focus {
  color: var(--accent-cl);
}

.nav__link--current {
  color: var(--accent-cl);
}
.nav__link--current::after {
  position: absolute;
  content: "";
  bottom: -1px;
  display: block;
  background-color: #188ce8;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.header-contacts__icon {
  margin-right: 10px;
}
.header-contacts__icon:hover, .header-contacts__icon:focus {
  fill: #2196F3;
}

.header-contacts__icon {
  fill: currentColor;
}

.logo {
  margin-right: 93px;
  margin-left: auto;
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.1923076923;
  letter-spacing: 0.03em;
  color: var(--accent-cl);
}

.logo--header-accent {
  color: var(--dark-bg-cl);
}

.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
}
.hero__title {
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.3636363636;
  color: var(--white-cl);
}

.overlay {
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero-bg.jpg);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-bg.jpg);
  background-color: #C4C4C4;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero-btn {
  border-radius: 4px;
  font-weight: 700;
  line-height: 1.875;
  letter-spacing: 0.06em;
  color: var(--white-cl);
  background-color: var(--accent-cl);
  border: 1px solid transparent;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  -webkit-transition: background-color 250ms var(--cubic);
  transition: background-color 250ms var(--cubic);
}
.hero-btn:hover, .hero-btn:focus {
  background-color: var(--accent-btn-cl);
}

.feature {
  padding-bottom: 0;
}

.feature__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}

.feature__title {
  margin-top: 30px;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.03em;
}

.feature__text {
  width: 270px;
  font-size: 14px;
  line-height: 1.7142857143;
  letter-spacing: 0.03em;
  color: var(--secondary-txt-cl);
}

.thumb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 270px;
  height: 120px;
  background-color: #F5F4FA;
}

.work__title {
  margin-bottom: 50px;
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1666666667;
  letter-spacing: 0.03em;
}

.work__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}

.work__item {
  position: relative;
}

.work__overlay {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  bottom: 0;
  width: 370px;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
}

.work__text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
}

.team {
  text-align: center;
  background: var(--light-bg-cl);
}

.team__title {
  margin-bottom: 50px;
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1666666667;
  letter-spacing: 0.03em;
}

.team__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}

.team__descr {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background: #FFFFFF;
}

.team__uppertitle {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.1875;
  letter-spacing: 0.03em;
}

.team__text {
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.1875;
  letter-spacing: 0.03em;
  color: var(--secondary-txt-cl);
}

/* Socials icons */
.socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
}

.socials__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 44px;
  height: 44px;
  color: #AFB1B8;
  background-color: #ffffff;
  border-radius: 50%;
  -webkit-transition: color 250ms var(--cubic), background-color 250ms var(--cubic);
  transition: color 250ms var(--cubic), background-color 250ms var(--cubic);
}
.socials__link:hover, .socials__link:focus {
  color: #FFFFFF;
  background-color: #2196F3;
}

.socials__icon {
  fill: currentColor;
}

.clients__title {
  margin-bottom: 50px;
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1666666667;
  letter-spacing: 0.03em;
}

/* Clients-icons */
.clients__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  color: #AFB1B8;
}

.clients__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 170px;
  height: 92px;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  -webkit-transition: color 250ms var(--cubic), border-color 250ms var(--cubic);
  transition: color 250ms var(--cubic), border-color 250ms var(--cubic);
}
.clients__link:hover, .clients__link:focus {
  color: #2196F3;
  border-color: #2196F3;
}

.clients__icon {
  fill: currentColor;
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.footer-contacts {
  margin-right: 70px;
}

.logo-footer {
  margin-right: 0;
}

.logo--footer-accent {
  color: var(--white-cl);
}

.footer-contacts__address {
  margin-top: 20px;
}

.footer-contacts__list {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7142857143;
  letter-spacing: 0.03em;
}

.footer-contacts__item {
  color: var(--white-cl);
}

.footer-contacts__link {
  color: rgba(255, 255, 255, 0.6);
  -webkit-transition: color 250ms var(--cubic);
  transition: color 250ms var(--cubic);
}
.footer-contacts__link:hover, .footer-contacts__link:focus {
  color: var(--accent-cl);
}

.footer-contacts__item:not(:last-child) {
  margin-bottom: 9px;
}

.footer__title {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
}

/* FOOTER FORM */
.footer-form-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: auto;
}

.footer-subscription {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 12px;
}

.footer-label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer-form__input {
  background-color: transparent;
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  padding: 15px 16px;
  outline: transparent;
  color: #fff;
  -webkit-transition: border-color 250ms var(--cubic);
  transition: border-color 250ms var(--cubic);
}
.footer-form__input:hover, .footer-form__input:focus {
  border-color: #2196F3;
}

.footer-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 29px;
  padding-right: 29px;
  height: 50px;
  border: 0;
  border-radius: 4px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  background-color: #2196F3;
  color: #FFFFFF;
  -webkit-transition: background-color 250ms var(--cubic);
  transition: background-color 250ms var(--cubic);
}
.footer-btn:hover, .footer-btn:focus {
  background-color: var(--accent-btn-cl);
}

.footer-btn__icon {
  margin-left: 10px;
  fill: #FFFFFF;
}

.footer-socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.socials__link--footer {
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-transition: background-color 250ms var(--cubic);
  transition: background-color 250ms var(--cubic);
}
.socials__link--footer:hover, .socials__link--footer:focus {
  background-color: #2196F3;
}

.filters {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 50px;
  gap: 8px;
}

.filters__btn {
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 22px;
  padding-right: 22px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  letter-spacing: 0.03em;
  color: var(--primary-txt-cl);
  background-color: var(--light-bg-cl);
  border: none;
  -webkit-transition: color 250ms var(--cubic), background-color 250ms var(--cubic), -webkit-box-shadow 250ms var(--cubic);
  transition: color 250ms var(--cubic), background-color 250ms var(--cubic), -webkit-box-shadow 250ms var(--cubic);
  transition: color 250ms var(--cubic), background-color 250ms var(--cubic), box-shadow 250ms var(--cubic);
  transition: color 250ms var(--cubic), background-color 250ms var(--cubic), box-shadow 250ms var(--cubic), -webkit-box-shadow 250ms var(--cubic);
}

.filters__btn:hover,
.hfilters__btn:focus,
.filters__btn--current {
  color: var(--white-cl);
  background-color: var(--accent-btn-cl);
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.projects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}

.projects__link {
  display: block;
  -webkit-transition: -webkit-box-shadow 250ms var(--cubic);
  transition: -webkit-box-shadow 250ms var(--cubic);
  transition: box-shadow 250ms var(--cubic);
  transition: box-shadow 250ms var(--cubic), -webkit-box-shadow 250ms var(--cubic);
}

.projects__wrap {
  position: relative;
  overflow: hidden;
}

.projects__overlay {
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: -webkit-transform 250ms var(--cubic);
  transition: -webkit-transform 250ms var(--cubic);
  transition: transform 250ms var(--cubic);
  transition: transform 250ms var(--cubic), -webkit-transform 250ms var(--cubic);
}

.projects__link:hover,
.projects__link:focus {
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.projects__overlay-text {
  padding: 63px 24px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5555555556;
  letter-spacing: 0.03em;
  color: #FFFFFF;
}

.projects__link:hover .projects__overlay,
.projects__link:focus .projects__overlay {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.projects__descr {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
  padding-right: 24px;
  border: 1px solid #EEEEEE;
  border-top: none;
}

.projects__title {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--primary-txt-cl);
}

.projects__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
  color: var(--secondary-txt-cl);
}

/* Modal */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 100;
  opacity: 1;
  visibility: visible;
  pointer-events: initial;
  -webkit-transition: opacity 250ms var(--cubic), visibility 250ms var(--cubic);
  transition: opacity 250ms var(--cubic), visibility 250ms var(--cubic);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  min-width: 528px;
  min-height: 581px;
  padding: 40px;
  z-index: 100;
  background-color: #FFFFFF;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  opacity: 1;
  -webkit-transition: opacity 250ms var(--cubic), -webkit-transform 250ms var(--cubic);
  transition: opacity 250ms var(--cubic), -webkit-transform 250ms var(--cubic);
  transition: transform 250ms var(--cubic), opacity 250ms var(--cubic);
  transition: transform 250ms var(--cubic), opacity 250ms var(--cubic), -webkit-transform 250ms var(--cubic);
}

.backdrop.is-hidden .modal {
  opacity: 0;
  -webkit-transform: translate(-50%, -50%) scale(0.9);
          transform: translate(-50%, -50%) scale(0.9);
}

.btn-close {
  position: absolute;
  top: 8px;
  right: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 30px;
  height: 30px;
  padding: 0;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #FFFFFF;
  cursor: pointer;
}
.btn-close:hover .btn-close__svg, .btn-close:focus .btn-close__svg {
  fill: var(--accent-cl);
}

.btn-close__svg {
  fill: #000;
  -webkit-transition: fill 250ms var(--cubic);
  transition: fill 250ms var(--cubic);
}

.form-modal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.form-modal__field {
  display: inline-block;
  position: relative;
}

.form-modal__title {
  color: var(--primary-txt-cl);
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
}

.form-modal__input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  cursor: pointer;
  -webkit-transition: border-color 250ms var(--cubic);
  transition: border-color 250ms var(--cubic);
}
.form-modal__input:hover, .form-modal__input:focus {
  border-color: var(--accent-cl);
  outline: transparent;
}

.form-modal__label {
  color: var(--secondary-txt-cl);
  font-weight: 400;
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
  margin-bottom: 4px;
  margin-top: 10px;
}

.form-modal__input--textarea {
  min-height: 120px;
  resize: none;
  margin-bottom: 20px;
  padding: 12px 16px;
}

.form-modal__link {
  color: var(--accent-cl);
}

.form-modal__icon {
  position: absolute;
  left: 12px;
  bottom: 50%;
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
  fill: var(--primary-txt-cl);
  -webkit-transition: fill 250ms var(--cubic);
  transition: fill 250ms var(--cubic);
}

.form-modal__input:focus + .form-modal__icon,
.form-modal__input:hover + .form-modal__icon {
  fill: var(--accent-cl);
}

.form-modal__btn {
  display: block;
  margin: 0 auto;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  padding: 10px 52px;
  margin-top: 30px;
  border: 0;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
  background-color: var(--accent-cl);
  color: var(--white-cl);
  -webkit-transition: background-color 250ms var(--cubic);
  transition: background-color 250ms var(--cubic);
}
.form-modal__btn:hover, .form-modal__btn:focus {
  background-color: #188CE8;
}

.form-modal__check-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: fill 250ms var(--cubic);
  transition: fill 250ms var(--cubic);
}
.form-modal__check-box:hover .form-modal__check-off {
  fill: var(--accent-cl);
}

.form-modal__label--check {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
}

.form-modal__check-box:focus-within {
  fill: var(--accent-cl);
}

.form-modal__check-on {
  border-radius: 2px;
  opacity: 0;
  position: absolute;
  -webkit-transition: opacity 250ms var(--cubic);
  transition: opacity 250ms var(--cubic);
}

.form-modal__check:checked + .form-modal__check-on {
  opacity: 1;
  background-color: var(--accent-cl);
}

.form-modal__check-off {
  opacity: 1;
  -webkit-transition: fill 250ms var(--cubic);
  transition: fill 250ms var(--cubic);
}

.check:checked ~ .form-modal__check-off {
  opacity: 0;
}

.form-modal__text {
  font-size: 14px;
  margin-left: 7px;
}/*# sourceMappingURL=main.css.map */