.clients__title {
    margin-bottom: 50px;
    text-align: center;
    font-weight: 700;
    font-size: 36px;
    line-height: calc(42 / 36);
    letter-spacing: 0.03em;

}

/* Clients-icons */

.clients__list {
    display: flex;
    gap: 30px;
    color: #AFB1B8;

}


.clients__link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 170px;
    height: 92px;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    transition: color 250ms var(--cubic), border-color 250ms var(--cubic);

    &:hover, &:focus {
    color: #2196F3;
    border-color: #2196F3;

    }


}


.clients__icon {
    fill: currentColor;
}