.feature {
    padding-bottom: 0;


}

.feature__list {
    display: flex;
    flex-direction: column;
    
    gap: 30px;
    
    @media screen and (min-width: 768px) {
        
        flex-direction: row;
        flex-wrap: wrap;

}
}

.feature__item {
    
    @media screen and (min-width: 480px) {
        width: 450px;
        }

    @media screen and (min-width: 768px) {
        width: 354px;
        }

    @media screen and (min-width: 1200px) {
        width: 270px;
        
    }
}



.feature__title {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.03em;

    @media screen and (max-width: 767px) {
        text-align: center;
    }

}

.feature__text {
    
    font-size: 14px;
    line-height: calc(24 / 14);
    letter-spacing: 0.03em;
    color: var(--secondary-txt-cl);
}

.thumb {
    display: flex;
    align-items: center;
    justify-content: center;
    
    min-height: 120px;
    background-color: #F5F4FA;

}