/* Modal */
.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 100;
    opacity: 1;
    visibility: visible;
    pointer-events: initial;
    transition: opacity 250ms var(--cubic),
        visibility 250ms var(--cubic);
}

.backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
}


.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    min-width: 528px;
    min-height: 581px;
    padding: 40px;
    z-index: 100;

    background-color: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;

    opacity: 1;

    transition: transform 250ms var(--cubic),
        opacity 250ms var(--cubic);
}

.backdrop.is-hidden .modal {
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.9);


}

.btn-close {
    position: absolute;
    top: 8px;
    right: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    padding: 0;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: #FFFFFF;
    cursor: pointer;

    &:hover .btn-close__svg,
    &:focus .btn-close__svg {
        fill: var(--accent-cl);
        }


}

.btn-close__svg {
    fill: #000;
    transition: fill 250ms var(--cubic);
}


.form-modal {
    display: flex;
    flex-direction: column;
}

.form-modal__field {
    display: inline-block;
    position: relative;
}

.form-modal__title {
    color: var(--primary-txt-cl);
    font-size: 20px;
    line-height: calc(23 / 20);
    text-align: center;
    letter-spacing: 0.03em;

}

.form-modal__input {
    width: 100%;
    height: 40px;

    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding-left: 42px;
    cursor: pointer;

    transition: border-color 250ms var(--cubic);

    &:hover,
    &:focus {
    border-color: var(--accent-cl);
    outline: transparent;
    }
}

.form-modal__label {
    color: var(--secondary-txt-cl);
    font-weight: 400;
    font-size: 12px;
    line-height: calc(14 / 12);
    letter-spacing: 0.01em;

    margin-bottom: 4px;
    margin-top: 10px;


}

.form-modal__input--textarea {
    min-height: 120px;
    resize: none;
    margin-bottom: 20px;
    padding: 12px 16px;
}

.form-modal__link {
    color: var(--accent-cl);
}

.form-modal__icon {
    position: absolute;
    left: 12px;
    bottom: 50%;
    transform: translateY(50%);
    fill: var(--primary-txt-cl);
    transition: fill 250ms var(--cubic);
}

.form-modal__input:focus+.form-modal__icon,
.form-modal__input:hover+.form-modal__icon {
    fill: var(--accent-cl);
}

.form-modal__btn {
    display: block;
    margin: 0 auto;


    font-family: 'Roboto', sans-serif;

    font-weight: 700;
    font-size: 16px;
    line-height: calc(30 / 16);

    letter-spacing: 0.06em;

    padding: 10px 52px;
    margin-top: 30px;

    border: 0;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    cursor: pointer;

    background-color: var(--accent-cl);
    color: var(--white-cl);
    transition: background-color 250ms var(--cubic);

    &:hover,
    &:focus {
        background-color: #188CE8;
    }
}

.form-modal__check-box {
    display: flex;
    justify-content: center;
    transition: fill 250ms var(--cubic);

    &:hover .form-modal__check-off {
        fill: var(--accent-cl);
        }
}


.form-modal__label--check {
    display: flex;
    align-items: center;
    margin: 0;
}

.form-modal__check-box:focus-within {
    fill: var(--accent-cl);
}


.form-modal__check-on {
    border-radius: 2px;
    opacity: 0;
    position: absolute;
    transition: opacity 250ms var(--cubic);
}

.form-modal__check:checked+.form-modal__check-on {
    opacity: 1;
    background-color: var(--accent-cl);
}

.form-modal__check-off {
    opacity: 1;
    transition: fill 250ms var(--cubic);
}


.check:checked~.form-modal__check-off {
    opacity: 0;
}

.form-modal__text {
    font-size: 14px;
    margin-left: 7px;
}

