:root {
    /* fonts */
    --main-font: 'Roboto', sans-serif;
    --secondary-font: 'Raleway', sans-serif;

    /* text colors */

    --primary-txt-cl: #212121;
    --secondary-txt-cl: #757575;
    --accent-cl: #2196F3;
    --white-cl: #ffffff;
    --darl-cl: #000000;

    /* bg colors */
    --white-bg-cl: #FFFFFF;
    --light-bg-cl: #F5F4FA;
    --dark-bg-cl: #2F303A;

    --accent-btn-cl: #188CE8;
    --cubic: cubic-bezier(0.4, 0, 0.2, 1);


}

